h1{
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}
h2{
    color:darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}